/* this allows us to center figures in general */
figure.align-center {
    text-align: center;
    margin: 0 auto;
}

div.md-typeset__scrollwrap {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
